
body{ 
    text-align: center;
    overflow-x: hidden;
   
    
}
header{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    margin-bottom: 5%;

}
.logo{
    border: 1px solid;
    border-radius: 70px;
    background-color: darkkhaki;
    text-align: center;
}
.bvn{
    margin-top:60%;
    margin-left: 14%;
    border: 1px solid;
    padding: 2%;
    background-color: gray;
}
.contenu img{
    margin-bottom: 15%;
}
.logomini{
    margin-left: 3%;
    padding: 5%;
  
}
h3{
    border: 1px solid transparent;
    color:darkslategrey;
    font-family: mv;
    font-size: 40px;
    text-decoration: underline;
}
h1{
    border: 3px solid;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    margin: auto;
    max-width: 100%;

}
button{
    text-align: center;
    padding: 7%;
    background-color: darkblue;
    border-radius: 30px;
    width: 230px;
    margin-top: 25%;
}
a{
    text-decoration: none;
    color: white;
    font-size:40px ;
    font-family: mv;
}
